N8N/updated-workflow.json
{
    "name": "My workflow 2",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "/trigger_scan",
          "options": {}
        },
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "position": [
          -1540,
          140
        ],
        "id": "305a1426-df8e-4b6d-8e4f-0138316bd4af",
        "typeVersion": 2,
        "webhookId": "6558cf98-e229-4a76-858b-dab8405e852c"
      },
      {
        "parameters": {
          "command": "=ping -c 3  {{ $json.body.target_ip }}"
        },
        "name": "Ping Target",
        "type": "n8n-nodes-base.executeCommand",
        "position": [
          -1420,
          140
        ],
        "id": "906ce16a-e67e-4f0b-9c8d-28847c0fe3be",
        "typeVersion": 1,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "command": "=enum4linux -a {{ $('Webhook Trigger').item.json.body.target_ip }}"
        },
        "name": "Run Enum4Linux",
        "type": "n8n-nodes-base.executeCommand",
        "position": [
          -60,
          -200
        ],
        "id": "f81bb5b4-3bdc-4b0f-bdb5-3259daa319b7",
        "typeVersion": 1
      },
      {
        "parameters": {
          "command": "nikto -h {{$json[\"query\"].target_ip}}"
        },
        "name": "Run Nikto",
        "type": "n8n-nodes-base.executeCommand",
        "position": [
          80,
          60
        ],
        "id": "1eba1dab-f86d-4086-a327-1117268cea2e",
        "typeVersion": 1
      },
      {
        "parameters": {
          "command": "magicrecon -d {{$json[\"query\"].target_ip}} -a"
        },
        "name": "Run MagicRecon",
        "type": "n8n-nodes-base.executeCommand",
        "position": [
          360,
          60
        ],
        "id": "0b26ab4f-d32e-464c-91f1-c96433cea579",
        "typeVersion": 1
      },
      {
        "parameters": {
          "command": "=nmap {{ $('Webhook Trigger').item.json.body.target_ip }} -o /home/kali/Mallanoo_Agent/nmap_scan.txt "
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          -480,
          380
        ],
        "id": "5f61055c-7622-4229-b3eb-3e9250ba6a0d",
        "name": "Nmap"
      },
      {
        "parameters": {
          "command": "msfconsole -r generated_exploit.rc"
        },
        "name": "Run Metasploit Exploit",
        "type": "n8n-nodes-base.executeCommand",
        "position": [
          740,
          -260
        ],
        "id": "edb9f577-c680-41c3-8a76-ab4e0e52af7d",
        "typeVersion": 1
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "f755812c-b7c6-474b-892e-683583cd3c92",
                "leftValue": "={{ $json.received.result }}",
                "rightValue": "445/tcp",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              },
              {
                "id": "1858a3db-0cbb-4e00-b847-da78c42fa64c",
                "leftValue": "={{ $json.received.result }}",
                "rightValue": "135/tcp",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {
            "ignoreCase": true
          }
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -420,
          -160
        ],
        "id": "d2dad254-7015-4634-b643-42ceae5c6169",
        "name": "SMBCheck"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "d79b2bec-7d05-432e-97ce-9d690142c67c",
                "leftValue": "={{ $('NmapRead').item.json.stdout }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -500,
          60
        ],
        "id": "884581fb-dc51-4b6b-b6aa-d4f22d2e3b6e",
        "name": "NmapCheck1"
      },
      {
        "parameters": {
          "command": "cat /home/kali/Mallanoo_Agent/nmap_scan.txt"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          -1060,
          140
        ],
        "id": "69a122aa-e9be-43e2-9716-568259e77005",
        "name": "NmapRead",
        "retryOnFail": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "f755812c-b7c6-474b-892e-683583cd3c92",
                "leftValue": "={{ $('NmapCheck1').item.json.stdout }}",
                "rightValue": "80/tcp",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {
            "ignoreCase": true
          }
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -140,
          60
        ],
        "id": "0abfe605-e4e0-4c13-85db-13c48670391d",
        "name": "WebCheck"
      },
      {
        "parameters": {
          "command": "cat /home/kali/Mallanoo_Agent/nmap_scan.txt"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          -320,
          380
        ],
        "id": "72d7f459-b952-4b6e-bf8d-882ca6782a4a",
        "name": "NmapRead1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:3000/api/send-scan",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {}
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          220,
          60
        ],
        "id": "00068467-f108-4929-8b2f-f4b40ee149d4",
        "name": "HTTP Request - Nikto Results"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:3000/api/send-scan",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {}
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          500,
          60
        ],
        "id": "368151b0-0997-41cc-935f-f07efaa6681f",
        "name": "HTTP Request - MagicRecon Results"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:3000/api/submit",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "result",
                "value": "={{ $json.stdout }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1300,
          140
        ],
        "id": "65d1fd3f-67d6-4ef0-8912-c75da09310e4",
        "name": "PingOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:3000/api/submit",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "result",
                "value": "={{ $json.stdout }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -140,
          380
        ],
        "id": "f66d2b26-524d-4f04-85e8-1c4d0b9d6b69",
        "name": "NMAPOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:3000/api/submit",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "result",
                "value": "={{ $json.stdout }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -820,
          -120
        ],
        "id": "33ce03f2-a356-4af3-afc1-ad85c72cb470",
        "name": "NMAPOutput1"
      },
      {
        "parameters": {
          "amount": 2
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -1180,
          140
        ],
        "id": "8faf52d9-c9ab-4003-8956-276c63b24f3e",
        "name": "Wait",
        "webhookId": "70f9692a-13b1-4752-913c-7d28ff4d6456"
      },
      {
        "parameters": {
          "amount": 2
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -660,
          60
        ],
        "id": "2916f52e-8ed2-4828-9db5-fc85d6203991",
        "name": "Wait1",
        "webhookId": "70f9692a-13b1-4752-913c-7d28ff4d6456"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "abc-ftp-21",
                "leftValue": "={{ $('NmapRead').item.json.stdout }}",
                "rightValue": "21/tcp",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "name": "FTPCheck",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -400,
          660
        ],
        "id": "c5221937-3f07-4ef7-afe3-4201a888c50d"
      },
      {
        "parameters": {
          "command": "=nmap -p 21 --script ftp-anon {{ $('Webhook Trigger').item.json.body.target_ip }}"
        },
        "name": "Run FTP-Anonymous",
        "type": "n8n-nodes-base.executeCommand",
        "position": [
          -200,
          660
        ],
        "id": "88a0ffbc-4559-4b93-9db0-8540cc98a9f1",
        "typeVersion": 1
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:3000/api/send-scan",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "FTPAnonResult",
                "value": "={{ $json.stdout }}"
              }
            ]
          },
          "options": {}
        },
        "name": "HTTP Request - FTPAnon Results",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          0,
          660
        ],
        "id": "10ede5aa-ccba-472b-8dd9-756dd966ce37"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "ssl-443",
                "leftValue": "={{ $('NmapRead').item.json.stdout }}",
                "rightValue": "443/tcp",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "name": "SSLCheck",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -400,
          860
        ],
        "id": "307d5807-71c6-423d-9ec5-f9859bb3af32"
      },
      {
        "parameters": {
          "command": "=sslscan {{ $('Webhook Trigger').item.json.body.target_ip }}"
        },
        "name": "Run SSLScan",
        "type": "n8n-nodes-base.executeCommand",
        "position": [
          -200,
          860
        ],
        "id": "a2ffae3b-db30-45e9-86f7-80e5b572514e",
        "typeVersion": 1
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:3000/api/send-scan",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "SSLScanResult",
                "value": "={{ $json.stdout }}"
              }
            ]
          },
          "options": {}
        },
        "name": "HTTP Request - SSLScan Results",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          0,
          860
        ],
        "id": "88dcc184-1420-4a54-8732-49b00fe57073"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "mysql-3306",
                "leftValue": "={{ $('NmapRead').item.json.stdout }}",
                "rightValue": "3306/tcp",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "name": "MySQLCheck",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -400,
          1060
        ],
        "id": "1c8c0a57-2350-4bff-818a-501cf93172f5"
      },
      {
        "parameters": {
          "command": "=nmap -p 3306 --script mysql-audit,mysql-empty-password,mysql-vuln-cve2012-2122 {{ $('Webhook Trigger').item.json.body.target_ip }}"
        },
        "name": "Run MySQLNmap",
        "type": "n8n-nodes-base.executeCommand",
        "position": [
          -200,
          1060
        ],
        "id": "e902a9bb-960f-4d12-beb5-2687a81116c4",
        "typeVersion": 1
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:3000/api/send-scan",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "MySQLResult",
                "value": "={{ $json.stdout }}"
              }
            ]
          },
          "options": {}
        },
        "name": "HTTP Request - MySQLNmap Results",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          0,
          1060
        ],
        "id": "9201ed4f-a1eb-460e-9ac2-7768479bc3f8"
      },
      {
        "parameters": {
          "command": "cat /home/kali/Mallanoo_Agent/enum4linux_result.txt"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          -280,
          -400
        ],
        "id": "88e7d5b0-2304-4f50-bf82-1d486fb8d7e0",
        "name": "Enum4Read",
        "retryOnFail": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "d79b2bec-7d05-432e-97ce-9d690142c67c",
                "leftValue": "={{ $json.stdout }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -60,
          -480
        ],
        "id": "0c7956d6-fc04-401a-81d0-6184547f2513",
        "name": "Enum4Check"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:3000/api/submit",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "result",
                "value": "={{ $json.stdout }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          200,
          -380
        ],
        "id": "927ad15b-32d5-417e-961d-2c8927d9508a",
        "name": "Enum4Output"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:3000/api/submit",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "result",
                "value": "=Vulnerability Found with Exploitation: Eternal Blue"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          400,
          -360
        ],
        "id": "04e0148d-2928-4365-8f7f-36e71b120411",
        "name": "VulnFound"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:3000/api/submit",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "result",
                "value": "={{ $json.stdout }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1000,
          -260
        ],
        "id": "bc2a26cd-46b7-4691-a97a-22de5ffa5f27",
        "name": "Exploit Result"
      }
    ],
    "pinData": {},
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Ping Target",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ping Target": {
        "main": [
          [
            {
              "node": "PingOutput",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PingOutput": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "NmapRead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "NmapRead": {
        "main": [
          [
            {
              "node": "NMAPOutput1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "NMAPOutput1": {
        "main": [
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "NmapCheck1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "NmapCheck1": {
        "main": [
          [
            {
              "node": "SMBCheck",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Nmap",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SMBCheck": {
        "main": [
          [
            {
              "node": "Enum4Read",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "WebCheck",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Enum4Linux": {
        "main": [
          [
            {
              "node": "Enum4Read",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "WebCheck": {
        "main": [
          [
            {
              "node": "Run Nikto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Nikto": {
        "main": [
          [
            {
              "node": "HTTP Request - Nikto Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request - Nikto Results": {
        "main": [
          [
            {
              "node": "Run MagicRecon",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run MagicRecon": {
        "main": [
          [
            {
              "node": "HTTP Request - MagicRecon Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request - MagicRecon Results": {
        "main": [
          [
            {
              "node": "Run Metasploit Exploit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Nmap": {
        "main": [
          [
            {
              "node": "NmapRead1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "NmapRead1": {
        "main": [
          [
            {
              "node": "NMAPOutput",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "NMAPOutput": {
        "main": [
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "FTPCheck": {
        "main": [
          [
            {
              "node": "Run FTP-Anonymous",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run FTP-Anonymous": {
        "main": [
          [
            {
              "node": "HTTP Request - FTPAnon Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SSLCheck": {
        "main": [
          [
            {
              "node": "Run SSLScan",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run SSLScan": {
        "main": [
          [
            {
              "node": "HTTP Request - SSLScan Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MySQLCheck": {
        "main": [
          [
            {
              "node": "Run MySQLNmap",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run MySQLNmap": {
        "main": [
          [
            {
              "node": "HTTP Request - MySQLNmap Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enum4Read": {
        "main": [
          [
            {
              "node": "Enum4Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enum4Check": {
        "main": [
          [
            {
              "node": "Enum4Output",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Run Enum4Linux",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enum4Output": {
        "main": [
          [
            {
              "node": "VulnFound",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "VulnFound": {
        "main": [
          [
            {
              "node": "Run Metasploit Exploit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Metasploit Exploit": {
        "main": [
          [
            {
              "node": "Exploit Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "19e6b00f-f2a1-4fb8-bb20-ba7d7eb5142c",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "6965eed6430514894118c88706fa2afabaeca3708ee375316c9e218033edbd9b"
    },
    "id": "K1Xq5mVTotY8N4K0",
    "tags": []
  }